<div class="color-buttons">
    <button id="color-btn" class="blue"></button>
    <button id="color-btn" class="green"></button>
    <button id="color-btn" class="maroon"></button>
    <button id="color-btn" class="purpule"></button>
</div>