@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/form.css';
@import 'shared/author.css';
@import 'shared/books.css';
:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: var(--color-text-white);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

.inner-container {
    margin: 0 2rem
}

.page-header {
    font-size: 2rem;
    font-weight: 500;
}

.error-message {
    color: hsl(var(--color-danger-hue), 100%, 50%);
}

.color-buttons {
    position: absolute;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    max-width: 150px;
    align-items: center;
    margin-left: -150px;
}

#color-btn {
    width: 50px;
    height: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    border: none;
}

.blue {
    background-color: rgb(0, 63, 199);
}

.green {
    background-color: rgb(16, 192, 0);
}

.maroon {
    background-color: rgb(148, 0, 0)
}

.purpule {
    background-color: rgb(174, 0, 180);
}